{
  "project_info": {
    "project_number": "PROJE_NUMARASI",
    "project_id": "PROJE_ID",
    "storage_bucket": "PROJE_ID.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:PROJE_NUMARASI:android:UYGULAMA_ID",
        "android_client_info": {
          "package_name": "com.otizmdestek.otizm_destek_app"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "ANDROID_API_ANAHTARI"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
